# Ignore build directories
build-*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qbs
*.qbs.*
*.moc
*.moc.*
*.moc
*.moc.*
*.o
*.o.*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qbs
*.qbs.*
*.moc
*.moc.*
*.o
*.o.*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qbs
*.qbs.*
*.moc
*.moc.*
*.o
*.o.*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qbs
*.qbs.*
*.moc
*.moc.*
*.o
*.o.*
